version: '3.8'

services:
  api-service:
    build: 
      context: ./api-service
      dockerfile: Dockerfile
    container_name: api-service
    ports:
      - "8081:8080"
    environment:
      - DB_CONN_STR=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?sslmode=disable
      - KAFKA_BROKER=kafka:29092
    networks:
      - product_net

  worker-service:
    build:
      context: ./worker-service
      dockerfile: Dockerfile
    container_name: worker-service
    environment:
      - DB_CONN_STR=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?sslmode=disable
      - KAFKA_BROKER=kafka:29092
      # Fabric Config
      - DISCOVERY_AS_LOCALHOST=false
    volumes:
      # Mount crypto material to the same path as in main.go
      - ../infrastructure/fabric/crypto-config:/crypto-config
    networks:
      - product_net
      - fabric_basic

networks:
  product_net:
    external: true
    name: product_net
  fabric_basic:
    external: true
    name: fabric_basic
